body {
	background: url('./background.png');
    background-repeat: no-repeat;
    background-color: #000000;
}

.visualization-canvas {
	background-color: rgba(0, 0, 0, 0.85);
    border: 2px solid rgba(43, 209, 252, 0.55);
    height: 75vh;
    margin: 5% 5% 30px 5%;
    width: 90%;
}

.center-aligned-div {
    text-align: center;
}

.button-rounded {
    border-radius: 4px;
    background-color: rgba(43, 209, 252, .75);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
