body {
	background: url('./background.png');
    background-repeat: no-repeat;
    background-color: #000;
}

.page-body {
    left: 0;
    overflow-x: hidden;
    padding-left: 180px;
}

.menu {
    left: 180px;
    margin-left: -180px;
    width: 180px;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
}

.menu-item-divided {
    border-top: 1px solid #333;
}

.pure-menu-heading {
    background-color: rgba(43, 209, 252, .55);
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

a.pure-menu-link:hover {
    background-color: rgb(74, 74, 74);
}

.pure-menu-selected>.pure-menu-link {
    color: #999;
}

.pure-submenu-selected {
    color: #999;
}

.pure-menu-link {
    color: rgba(43, 209, 252, .75);
}

.pure-menu-children {
    background-color: rgba(0, 0, 0, 0.75);
}

.visualization-canvas {
	background-color: rgba(0, 0, 0, 0.85);
    border: 2px solid rgba(43, 209, 252, 0.55);
    height: 75vh;
    margin: 5% 5% 30px 5%;
    width: 90%;
}

.center-aligned-div {
    text-align: center;
}

.button-rounded {
    border-radius: 4px;
    background-color: rgba(43, 209, 252, .75);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin: 0 2px;
}
