body {
	background: url('./background.png');
}

.visualization-container {
	background-color: rgba(0, 0, 0, 0.85);
    border: 2px solid rgba(43, 209, 252, 0.55);
    margin: 50px;
}

.center-aligned-div {
    text-align: center;
}

.button-rounded {
    border-radius: 4px;
    /*background-color: d3.rgb('#ff48c455'),
*/
    background-color: rgba(43, 209, 252, .75);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
